.aboutus__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutus__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    background-color: #ACD0D0;
}

.aboutus__content {
    display: flex;
    position: relative;
    z-index: -1;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.aboutus__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
}

.aboutus__text1 {
    font-size: xxx-large;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 130px;
}

.aboutus__text2 {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

