.Address__container {
  display: flex;
  margin-left: 200px;
}

.Address__title {
  padding-top: 20px;
  padding-left: 30px;
}

.Address__body {
  display: flex;
  flex-direction: row;
}

.Address__Body_Ac {
  display: flex;
  border: 1px solid #cccc;
  box-shadow: 1px 3px 3px 1px #888888b2;
  margin: 20px;
}

.Address__Name {
  color: rgb(0, 0, 0);
  margin-right: 20%;
  font-size: 10px;
  font-weight: 20px;
}

.Address__PhoneNumber {
  color: #c2c2c2;
  font-size: 10px;
  margin-left: 40%;
}

.Address__AddnewaddressBTN {
  margin-top: 8%;
  margin-left: 80%;
  font-size: 16px;
  width: 223.317px;
  height: 57px;
  flex-shrink: 0;
  color: #ffffff;
  background-color: #eca4b0;
  border: none;
}

.Address__PrimaBTN {
  color: #ffffff;
  background-color: #eca4b0;
  border: none;
}
