.Cart__container {
  display: flex;
  flex-direction: column;
  margin: 12px 90px;
  gap: 8px;
  padding-top: 8px;
}

.Cart__title {
  color: #eca4b0;
  font-size: 32px;
}

/* cart card */
.cartCard__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px 90px;
  width: 90%;
}

.cartCard__product-container {
  border: 2px solid #cccccc;
  padding: 8px;
  width: 100%;
}

.cartCard__product {
  display: flex;
  flex-direction: row;
}

.cartCard__product-detail {
  color: rgba(0, 0, 0, 0.80);
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
}

.cartCard__Product-price{
  color: rgba(0, 0, 0, 0.80);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.cartCard__Product-subtotal{
  color: rgba(0, 0, 0, 0.80);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 800;
}

.cartCard__cart-action {
  color: #999798;
  font-size: 14px;
  font-weight: 20px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.Trash-icon{
  margin-left: 10px;
  margin-top: 4px;
}
.cartCard__btn-amount {
  margin-left: 20px;
}

.cartCard__summary {
  border: 2px solid #cccccc;
  width: 394px;
  height: 221px;
}

.cartCard__Totalorders {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.cartCard__Buybtn {
  display: flex;
  justify-content: center;
}

.cartCard_btn {
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: #eca4b0;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 345px;
  height: 47px;
  border: #eca4b0;
}

/* empty cart */
.emptycart__container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 90px;
}

.emptycart-icon {
  font-size: 56px;
  color: #ccccccd1;
}

.emptycart__container-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  color: #999798;
}

.emptycart__text {
  font-size: 11px;
}
