
.Ads {
  text-align: center;
}
.ProductBrand{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  padding: 10px;
}
.ProductBrand h1{
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px;
}
.Brand{
  display: flex;
  overflow:auto;
  scroll-behavior: hidden;
}
.Brand::-webkit-scrollbar {
  display: none;
}

