.Newsaddress-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
  border: 2px #999798;
}

.Newaddress-header {
  text-align: left;
  color: #eca4b0;
}

.Newaddress-input-items {
  color: #999798;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  width: 80%;
  margin-bottom: 80px;
}

.Newaddress__inputs-container1 {
  display: flex;
  flex-direction: right;
  gap: 2px;
  width: 100%;
}

.Newaddress__inputs-container2 {
  display: flex;
  flex-direction: left;
  gap: 2px;
  width: 100%;
}

.Newaddress__inputs-container3 {
  display: flex;
  flex-direction: center;
  gap: 2px;
  width: 100%;
}

.Newaddress__inputs-container4 {
  display: flex;
  flex-direction: center;
  gap: 2px;
  width: 100%;
}

.Newaddress__inputs-container5 {
  display: flex;
  flex-direction: center;
  gap: 2px;
  width: 100%;
}

.addnewaddress-button {
  display: flex;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  padding: 5px;
  background-color: #f7f7f7;
  padding: 15px 10px;
}

.namenewaddress-inputz {
  border: none;
  outline: none;
  color: black;
  width: 100%;
}

.namenewaddress-input::placeholder {
  color: #ccc;
  font-style: italic;
}

.phonenumber-label {
  color: #999798;
  margin-bottom: 5px;
}

.Addnew__Container {
  background-color: #999798;
  width: 706px;
  height: 189px;
  flex-shrink: 0;
}

.Addnew__NewAddress__Btn {
  color: rgb(143, 143, 143);
  background-color: #ffffff;
  border-color: 2px #999798;
  align-items: center;
  border-radius: 5px;
  height: 60px;
  width: 200px;
}

.BottomMarks {
  display: flex;
  align-items: left;
}

.Markas1__button {
  display: flex;
  color: white;
  background-color: #eca4b0;
  border: none;
}

.Markas2__button {
  display: flex;
  color: white;
  font-weight: 300;
  background-color: #eca4b0;
  border: none;
}

/* .later-okebutton {
  align-items: right;
} */

/* .later-okebutton{
  display: flex;
  font-weight: 300;
  background-color: rgb(255, 255, 255);
  border: 2px #eca4b0;
  margin-left: 90%;
} */

.Markas3__button {
  color: #eca4b0;
  border-color: #eca4b0;
  border: 1px solid ;
  background-color: #ffffff;
}

.Markas4__button {
  size: 80px;
  display: flex;
  color: white;
  font-weight: 300;
  background-color: #eca4b0;
  border: none;
  margin-left: 90%;
}
