.Products-Card-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
  }

.Products-Judul{
  display: flex;
  padding-top: 33px;
  justify-content:center;
  font-size: x-large;
  font-weight: bold;
  color: #eca4b0;
}