.Products-Card-Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
  margin: 0px 90px;
}

.productsPage-container{
  z-index: 0;
}

.Products-Judul {
  display: flex;
  padding: 60px;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  color: #eca4b0;
}

.Products-Dropdown {
  display: flex;
  justify-content: center;
  gap: 170px;
  padding-bottom: 100px;
  width: 100%;
}

.products-dd-category {
  display: flex;
  position: absolute;
  right: 55%;
  gap: 8px;
}
.products-dd-sortby {
  display: flex;
  position: absolute;
  left: 55%;
  gap: 8px;
}

.products-option-title{
  padding-top: 8px;
}

